.caja {
    width: 150px;
    height: 150px;
    margin: 0.5rem;
}

.div-1{
    background-color: lightcoral;
}

.div-2{
    background-color: lightgreen;
    padding: 2rem;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    border: 1px solid;
}

.div-2::after {
    content: "";
    width: 1rem;
    height: 1rem;
    background-color: lightgreen;;
    position: absolute;
    bottom: -0.58rem;
    transform: rotate(45deg);
    border-right: 1px solid;
    border-bottom: 1px solid;
}

.div-3{
    background-color: lightsalmon;
}