/* Definición de variables */
:root {
    --bg-color-header: #16a085;
    --bg-color-header-shadow: #0b524377;
    --bg-color-nav: #34495e;
    --bg-color-main: #2c3e50;
    --bg-color-accent: #e74c3c;
    --bg-color-thead: #7f8c8d;
    --bg-color-par: #34495e80;
    --text-main: #FFF;
    --link-color: #FFF;
    --menu-width: 17rem;
}

/* Reseteo básico de estilos */
*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--text-main);
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: var(--link-color);
}

h1 {
    display: inline-block;
    font-size: 1.5rem;
    vertical-align: top;
}

.logo{
    width: 40px;
}

/* Cabecera principal de la página. Uso clases porque podría haber varios elementos <header> */
.main-header {
    position: fixed;
    height: 4rem;
    width: 100%;
    background-color: var(--bg-color-header);
    padding: 1em 1em;
    box-shadow: -2px -2px 5px 1px var(--bg-color-header-shadow) inset;
}

/* No uso clases porque no debería haber más de un main ni más de un nav, aunque hay quien recomendaría usarlas aquí también */
nav, main {
    top: 4rem;
}

nav {
    position: fixed;
    height: calc(100vh - 4rem);
    left: 0;
    width: var(--menu-width); /* reservo ancho */
    background-color: var(--bg-color-nav);
    box-shadow: -2px -2px 5px 5px var(--bg-color-main) inset;
}

main {
    position: absolute;
    z-index: -1;
    left: var(--menu-width);
    width: calc(100vw - var(--menu-width)); /* el resto del ancho */
    min-width: 900px;
    min-height: calc(100vh - 4rem); /* quiero que el main al menos ocupe todo el alto visible; puede que más... */
    background-color: var(--bg-color-main);
}

.menu {
    list-style: none;
    margin-top: 2rem;
}

.menu > li > a{
    width: 100%;
    height: 100%;
    display: inline-block;
    padding: .5em 1em;
    border-left: 4px transparent solid; /* reservamos el hueco aunque no se vea: así no varía el tamaño en el hover */
    border-radius: 5px;
}

.menu a:hover{
    border-left: 4px var(--bg-color-accent) solid;
}

.menu > li:last-child {
    position: absolute;
    bottom: 0;
    width: 97%; /* evitamos que pise la sombra */
    background-color: var(--bg-color-accent);
    border-radius: 3px;
}

.menu > li:last-child > a {
    text-align: center;
    border-left: 0; /* tenía el borde del hover que descuadra el centrado */
}

.selected::after{ /* marcamos la opción de menú seleccionada */
    content: "<";
    position: absolute;
    right: 1rem;
}

.results, .filters {
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.filters {
    margin-top: 2rem; /* quiero separar un poco más la primera caja del main respecto del header */
    padding: 1rem;
    background-color: var(--bg-color-nav);
    border-radius: 3px;
}

.results-table {
    width: 100%;
    border-spacing: 2px;
}


.results-table th {
    padding: .5em 1em;
    background-color:var(--bg-color-thead);
    border-radius: 3px;
}

.results-table td {
    padding: .5em 1em;
    background-color: var(--bg-color-nav);
    border-radius: 1px;
}

.results-table .par > td {
    background-color: var(--bg-color-par)
}


/* Soluciones */

/* Formulario */
.button {
    display: inline-block;
    padding: .5em 1em;
    background-image: linear-gradient(var(--bg-color-header), var(--bg-color-header-shadow));
}

input[type="text"] {
    padding: .5em 1em;
    color: var(--bg-color-main);
    width: 20ch;
}

input[type="number"] {
    padding: .5em 0 .5em 1em;
    color: var(--bg-color-main);
    width: 15ch;
}

.dropdown {
    padding: .5em 1em;
    color: var(--bg-color-main);
    vertical-align: top;
}

.label {
    display: inline-block;
    width: 12ch;
}

form > div {
    margin-bottom: 1em;
}

.filters {
    min-width: 740px; /* para que no rompa línea */
}

.disp {
    margin-top: 1em;
    margin-bottom: 1em;
}

fieldset > div {
    margin: .5em 1em;
}

legend {
    margin-left: 1em;
}

/* Encabezado en montserrat 700 */
h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.8em;
    /* resto a open sans en selector universal al principio */
}

/* Alinear encabezado de tabla a la izquierda */
th {
    text-align: left;
}

/* Poner en negrita el último li en hover */
.menu > li:last-child:hover {
    font-weight: 700;
 }

/* Iconos a la izquierda y en el legend */
/* en html directamente */
.material-icons-outlined{
    vertical-align: middle;
}

.menu-text {
    vertical-align: middle;
}
